<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard') }}"
        >KLASIFIKASI BERITA HOAX</a
      >
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ url_for('dashboard') }}"
            ><i class="fas fa-home"></i>Dashboard</a
          >
        </li>
        <li>
          <a href="{{url_for('hasilprediksi')}}"
            ><i class="fas fa-home"></i>Prediksi</a
          >
        </li>
        <li>
          <a href="{{url_for('pengguna')}}"
            ><i class="fas fa-home"></i>Pengguna</a
          >
        </li>
        <li>
          <a href="{{url_for('tentang')}}"
            ><i class="fas fa-home"></i>Tentang</a
          >
        </li>
        <li>
          <a href="{{ url_for('logout') }}"
            ><i class="fas fa-sign-out-alt"></i>Logout</a
          >
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
